<div class="card " style="width: 100%; background-color: whitesmoke;">
    <div class="card-body">
        <h5 class="card-title text-center">Web Develepor</h5>
        <p class="card-text text-center">
            Currently pursuing a bachelor's degree in information systems and internship at CTIS</p>
        <div class="text-center">
            <button href="#" class="btn btn-secondary">Card link</button>
            <button href="#" class="btn btn-secondary">Another link</button>
        </div>
    </div>
</div>