<div class="card " style="width: 100%; background-color: whitesmoke;">
    <div class="card-body">
        <h5 class="card-title text-center">Web Develepor</h5>
        <p class="card-text text-center">
            Currently pursuing a bachelor's degree in information systems and internship at CTIS</p>
        <div class="text-center">
            <a href="https://www.luminpdf.com/viewer/5e123a287406020019a679ac" target="_blank
            " class="btn btn-secondary" dowload="RafaelCV">See my CV</a>
            <a href="https://github.com/ramorim1998" class="btn btn-secondary">See my projects</a>
        </div>
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
      About me
    </div>
    <div class="card-body">
        <img class="card-img-top" src="/assets/image/download.png" style="width: 100px; border-radius: 50px;" alt="Card image cap">

      <p class="card-text">Hi, I'm Rafael Amorim, a 21 years old from Campina Grande, BR. I'm about to graduate from university.</p>
      <a routerLink="/contact" class="btn btn-secondary">Contact me</a>
    </div>
  </div>